<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368977360760-4vv12qug8c8ueam1kfos546vna6l17o1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368977360760-4vv12qug8c8ueam1kfos546vna6l17o1</string>
	<key>API_KEY</key>
	<string>AIzaSyBVreiC4koLek1CFZiQlOMH8N3oHUUD2iE</string>
	<key>GCM_SENDER_ID</key>
	<string>368977360760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.liveasyAssignment</string>
	<key>PROJECT_ID</key>
	<string>liveasy-assign</string>
	<key>STORAGE_BUCKET</key>
	<string>liveasy-assign.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368977360760:ios:a0afb489e224753b96fa8d</string>
</dict>
</plist>